/* media query for tablet */

@mixin medium {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

/* media query for high px density desktop */

@mixin huge {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}
