@mixin flex-column-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flex-column-nowrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}