.inventory {
  margin: 2rem 1rem 0;
  position: relative;
  &__upper {
    &--title {
      @include mobile-header;
      margin-bottom: 1rem;
      color: $para-and-nav;
    }
    &--input {
      margin-bottom: 0.5rem;
      position: relative;
      .input {
        background-color: $text-bg-fill;
        border: 0.0625rem solid $text-border;
        border-radius: 0.25rem;
        width: 75vw;
        height: 3rem;
        outline: none;
        &:placeholder-shown {
          padding-left: 2.1875rem;
          font-family: AvenirRegular;
        }
        &:hover {
          border: 0.0625rem solid $hover;
          cursor: pointer;
        }
      }
      .search-icon {
        position: absolute;
        top: 0.9375rem;
        left: 0.625rem;
      }
    }
  }
  &__titles {
    display: none;
  }
  &__content {
    @include flex-row-nowrap;
    border-bottom: 0.125rem solid $text-border;
    justify-content: space-between;
    &--data {
      .product-container {
        .product-name {
          @include mobile-subheader;
          margin-top: 1rem;
        }
        .flex-grow {
          @include mobile-paragraph;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .title {
        @include mobile-labels;
        color: $text-label;
        margin-top: 1.5rem;
      }
      .text {
        @include mobile-paragraph;
        margin: 1rem 0 1.5rem;
      }
    }
    &--default-icon {
      @include flex-column-wrap;
      border: unset;
      .default-icon {
        margin-top: 1.5rem;
        margin-right: 0.625rem;
        &:hover {
          fill: $black;
        }
      }
    }
  }
  &__fixed {
    position: fixed;
    bottom: 1.875rem;
    right: 1.5625rem;
    @include flex-row-wrap;
    justify-content: center;
    align-items: center;
    background-color: $text-link;
    border-radius: 3.125rem;
    height: 3.75rem;
    width: 3.75rem;
    outline: none;
    &:hover {
      background-color: $hover;
      cursor: pointer;
    }
    &--add-icon {
      width: 1.25rem;
    }
  }
}

@include medium {
  .inventory {
    margin: 2rem 1.5rem 0;
    &__upper {
      @include flex-row-nowrap;
      justify-content: space-between;
      align-items: center;
      &--title {
        @include desk-tablet-header;
      }
      &--input {
        margin-bottom: 2rem;
        .input {
          width: 32vw;
        }
      }
    }
    &__titles {
      display: unset;
      @include flex-row-nowrap;
      &--item {
        @include desk-tablet-labels;
        color: $text-label;
        width: 15vw;
      }
      &--flex-grow {
        width: 30vw;
        @include desk-tablet-labels;
        color: $text-label;
      }
    }
    &__content {
      height: 6.25rem;
      &--data {
        @include flex-row-nowrap;
        justify-content: space-between;
        align-items: center;
        .title {
          display: none;
        }
        .product-container {
          margin: 1.5rem 0 1.5rem 0;
          max-width: 30vw;
          @include flex-column-wrap;
          padding-right: 2rem;
          .product-name {
            @include desk-tablet-subheader;
            margin: unset;
          }
          .flex-grow {
            @include desk-tablet-para-comment;
          }
        }
        .text {
          @include desk-tablet-para-comment;
          width: 15vw;
          margin: 0;
        }
      }
      &--default-icon {
        align-self: center;
        margin-right: 1.5rem;
      }
    }
  }
}

@include huge {
  .inventory {
    margin: 3rem 11.25rem;
    &__upper {
      &--title {
        @include desk-tablet-header;
        margin-bottom: 3rem;
      }
      &--input {
        .input {
          width: 18vw;
          height: 3vw;
          &:placeholder-shown {
            padding-left: 2.6875rem;
            font-family: AvenirRegular;
          }
        }
        .search-icon {
          position: absolute;
          top: 0.8125rem;
          left: 1rem;
        }
      }
    }
    &__titles {
      margin-bottom: 8px;
    }
    &__content {
      height: 80px;
      &--data {
        width: 1080px;
        .product-container {
          margin-top: 24px;
          margin-bottom: 24px;
          .flex-grow {
            -webkit-line-clamp: 1;
          }
        }
      }
      &--icon {
        .default-icon {
          height: 20px;
          margin-bottom: 30px;
        }
      }
    }
    &__fixed {
      bottom: 100px;
      right: 250px;
      height: 80px;
      width: 80px;
      &--add-icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}
