.inventory {
  margin: 32px 16px 20px;
  &__upper {
    &--title {
      @include mobile-header;
      margin-bottom: 16px;
      color: $para-and-nav;
    }
    &--input {
      margin-bottom: 32px;
      position: relative;
      .input {
        background-color: $text-bg-fill;
        border: 1px solid $text-border;
        border-radius: 4px;
        width: 70vw;
        height: 48px;
        &:placeholder-shown {
          padding-left: 35px;
          font-family: AvenirRegular;
        }
        &:hover {
          border: 1px solid $hover;
        }
      }
      .search-icon {
        position: absolute;
        top: 12px;
        left: 10px;
      }
    }
  }
  &__titles {
    display: none;
  }
  &__content {
    @include flex-row-nowrap;
    border-bottom: 2px solid $text-border;
    &--data {
      .container {
        .product-name {
          @include mobile-subheader;
          margin-top: 16px;
        }
      }
      .title {
        @include mobile-labels;
        color: $text-label;
      }
      .text {
        @include mobile-paragraph;
        margin: 16px 0 24px;
      }
    }
    &--icon {
      @include flex-column-wrap;
      justify-content: space-between;
      .fixed {
        @include flex-row-nowrap;
        justify-content: center;
        // position: fixed;
        background-color: $text-link;
        height: 60px;
        width: 60px;
        border-radius: 50px;
        // margin-bottom: 20px;
        // margin-right: 10px;
        &__add-icon {
          width: 20px;
        }
      }
    }
  }
}

@include medium {
  .inventory {
    margin: 32px 24px 0;
    &__upper {
      @include flex-row-nowrap;
      justify-content: space-between;
      align-items: center;
      &--title {
        @include desk-tablet-header-smaller;
      }
      &--input {
        .input {
          width: 148px;
          height: 40px;
          outline: none;
        }
        // &:hover {
        //   cursor: pointer;
        //   border: $hover;
        // }
      }
    }
    &__titles {
      display: unset;
      @include flex-row-nowrap;
      @include desk-tablet-labels;
      justify-content: space-between;
      color: $text-label;
    }
    &__content {
      justify-content: space-between;
      height: 100px;
      &--data {
        @include flex-row-nowrap;
        align-items: center;
        width: 720px;
        // justify-content: space-between;
        .title {
          display: none;
        }
        .container {
          margin-top: 24px;
          margin-bottom: 24px;
          //   flex-grow: 2;
          .product-name {
            @include desk-tablet-subheader;
            margin: unset;
          }
        }
        .text {
          @include desk-tablet-para-comment;
          width: 180px;
          height: 20px;
          // fix elipses
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          //   flex-shrink: 1;
          margin: 0;
        }
        // .flex-grow {
        //   flex-grow: 2;
        // }
      }
      &--icon {
        align-self: center;
      }
    }
  }
}

@include huge {
  .inventory {
    margin: 48px 180px;
    &__upper {
      &--title {
        @include desk-tablet-header;
        margin-bottom: 48px;
      }
      &--input {
        .input {
          width: 252px;
          height: 48px;
          &:placeholder-shown {
            padding-left: 43px;
            font-family: AvenirRegular;
          }
        }
        .search-icon {
          position: absolute;
          top: 15px;
          left: 16px;
        }
      }
    }
    &__titles {
      margin-bottom: 8pxpx;
    }
    &__content {
      height: 80px;
      &--data {
        width: 1080px;
        .container {
          margin-top: 24px;
          margin-bottom: 24px;
        }
        // .text {
        //   width: 161px;
        // }
      }
      &--icon {
        .default-icon {
          height: 20px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
