@import "./breakpoints";
@import "./colors";
@import "./fonts";
@import "./flex-mixins";

.product {
  margin-left: 16px;
  margin-right: 16px;

  &__head {
    height: 7rem;

    &-title {
      display: flex;
      align-self: center;
      margin: 16px 0;

      .product__head-arrow {
        margin-right: 1.5rem;
        height: 24px;
      }
      .product__head-text {
        @include mobile-header;
      }
    }
    .product__status {
      width: 88px;
      height: 24px;
      border-radius: 4px;
      color: $white;
      font-family: "AvenirDemi";
      font-size: 12px;
      line-height: 14px;
      background-color: yellowgreen;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // end of product header

  // product details
  .details {
    display: flex;
    flex-direction: column;

    &__description {
      display: flex;
      flex-direction: column;

      &-label {
        color: $text-label;
        margin-bottom: 16px;
        font-family: "AvenirRegular";
        font-size: 0.8125rem;
        line-height: 1.125rem;
        
      }
      &-words {
        font-family: "AvenirThin";
        color: $black;
        @include mobile-paragraph;
      }
    }

    // product info except description
    .info {
      display: flex;
      flex-direction: column;
      margin-top: 32px;

      &__one {
        &-sub {
          font-size: 0.8125rem;
          line-height: 1.125rem;

          &-title {
            color: $text-label;
            font-family: "AvenirRegular";
            margin-bottom: 16px;
          }
          &-text {
            font-family: "AvenirThin";
            color: $black;
            margin-bottom: 24px;
          }
        }
      }
      // end of info__one sub container
      &__two {
        &-sub {
          font-size: 0.8125rem;
          line-height: 1.125rem;

          &-title {
            color: $text-label;
            font-family: "AvenirRegular";
            margin-bottom: 16px;
          }
          &-text {
            font-family: "AvenirThin";
            color: $black;
            margin-bottom: 24px;
          }
        }
      }
      // end of info__two sub container

      &__three {
        &-sub {
          font-size: 0.8125rem;
          line-height: 1.125rem;

          &-title {
            color: $text-label;
            font-family: "AvenirRegular";
            margin-bottom: 16px;
          }
          &-text {
            font-family: "AvenirThin";
            color: $black;
            margin-bottom: 24px;
          }
        }
      }
      // end of info__three sub container
    }
  }
  .button {
    &__actual {
      width: 90vw;
      height: 48px;
      background-color: $text-link;
      border-radius: 4px;
      outline: none;
      color: $white;
      font-family: "AvenirRegular";
      font-size: 14px;
      line-height: 16px;
    }
  }
  
  .button__actual:hover {
    background-color: $hover;
  }
}
// end of mobile



@include medium {
  .product {
    margin-left: 24px;
    margin-right: 24px;

    &__head {
      width: 720px;
      height: 32px;
      display: flex;
      align-items: center;
      //   margin-bottom: 40px;
      margin-top: 48px;
      margin-bottom: 40px;

      &-title {
        display: flex;
        // align-self: center;
        margin: 0;

        .product__head-arrow {
          margin-top: .25rem;
          margin-right: 1.5rem;
          width: 1.5rem;
          height: 2rem;
        }
        .product__head-text {
          @include desk-tablet-header;
        }
      }
      .product__status {
        width: 88px;
        height: 24px;
        margin-left: 24px;
        margin-top: 3px;
        border-radius: 4px;
        font-family: "AvenirDemi";
        color: $white;
        font-size: 12px;
        line-height: 14px;
        background-color: yellowgreen;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    // end of product header

    // product details
    .details {
      display: flex;
      flex-direction: column;
      border-top: 1px solid $text-border;
      border-bottom: 1px solid $text-border;

      &__description {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 16px;

        &-label {
          font-family: "AvenirDemi";
          color: $text-label;
          margin-bottom: 16px;
          margin-top: 40px;
          font-size: 12px;
          line-height: 13px;
          font-weight: bold;
        }
        &-words {
          width: 570px;
          font-family: "AvenirThin";
          color: $black;
          font-size: 13px;
          line-height: 16px;
        }
      }

      // product info except description
      .info {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;

        &__one {
          display: flex;
          margin-bottom: 1.875rem;

          &-sub {
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.375rem;

            &-title {
              color: $text-label;
              @include desk-tablet-labels;
              margin-bottom: 16px;
            }
            &-text {
              @include desk-tablet-para-comment;
              color: $black;
              margin-bottom: 24px;
            }
          }
        }
        // end of info__one sub container
        &__two {
          display: flex;
          margin-bottom: 1.875rem;

          &-sub {
            width: 100%;
            font-size: 0.875rem;
            line-height: 1.375rem;

            &-title {
              color: $text-label;
              @include desk-tablet-labels;
              margin-bottom: 16px;
            }
            &-text {
              @include desk-tablet-para-comment;
              margin-bottom: 24px;
            }
          }
        }
        // end of info__two sub container

        &__three {
          &-sub {
            font-size: 0.875rem;
            line-height: 1.375rem;

            &-title {
              color: $text-label;
              @include desk-tablet-labels;
              margin-bottom: 16px;
            }
            &-text {
              @include desk-tablet-para-comment;
              color: $black;
              margin-bottom: 48px;
            }
          }
        }
        // end of info__three sub container
      }
    }

    .button {
      display: flex;
      flex-direction: row-reverse;

      &__actual {
        width: 160px;
        height: 48px;
        margin-top: 40px;
        background-color: $text-link;
        border-radius: 4px;
        outline: none;
        color: $white;
        font-family: "AvenirDemi";
        font-size: 14px;
        line-height: 16px;
      }
    }

    .button__actual:hover {
      background-color: $hover;
    }
  }
}
// end of medium




@include huge {
  .product {
    margin-left: 180px;
    margin-right: 180px;

    &__head {
      width: 720px;
      height: 7rem;
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      &-title {
        display: flex;
        align-self: center;
        margin: 16px 0;

        .product__head-arrow {
          margin-right: 24px;
          height: 24px;
        }
        .product__head-text {
          font-family: "AvenirBold";
          font-size: 24px;
          line-height: 32px;
        }
      }
      .product__status {
        width: 88px;
        height: 24px;
        margin-left: 24px;
        border-radius: 4px;
        font-family: "AvenirDemi";
        color: $white;
        font-size: 12px;
        line-height: 14px;
        background-color: yellowgreen;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    // end of product header

    // product details
    .details {
      width: 67.5rem;
      display: flex;
      flex-direction: row;
      border-top: 1px solid $text-border;
      border-bottom: 1px solid $text-border;

      &__description {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 16px;
        width: 600px;

        &-label {
          width: 100%;
          font-family: "AvenirRegular";
          color: $text-label;
          margin-bottom: 16px;
          font-size: 12px;
          line-height: 13px;
          font-weight: bold;
        }
        &-words {
          width: 470px;
          font-family: "AvenirThin";
          color: $black;
          font-size: 13px;
          line-height: 16px;
        }
      }

      // product info except description
      .info {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
        width: 600px;

        &__one {
          display: flex;
          margin-bottom: 3.5rem;

          &-sub {
            width: 100%;
            
            &-title {
              color: $text-label;
              @include desk-tablet-labels;
              margin-bottom: 16px;
            }
            &-text {
              @include desk-tablet-para-comment;
              color: $black;
              margin-bottom: 0;
            }
          }
        }
        // end of info__one sub container
        &__two {
          display: flex;
          margin-bottom: 3.5rem;

          &-sub {
            width: 100%;

            &-title {
              color: $text-label;
              @include desk-tablet-labels;
              margin-bottom: 16px;
            }
            &-text {
              @include desk-tablet-para-comment;
              color: $black;
              margin-bottom: 0;
            }
          }
        }
        // end of info__two sub container

        &__three {
          width: 100%;

          &-sub {
            margin-bottom: 3.5rem;

            &-title {
              color: $text-label;
              @include desk-tablet-labels;
              margin-bottom: 16px;
            }
            &-text {
              @include desk-tablet-para-comment;
              color: $black;
              margin-bottom: 0;
            }
          }
        }
        // end of info__three sub container
      }
    }
    .button {
      display: flex;
      flex-direction: row-reverse;

      &__actual {
        width: 160px;
        height: 48px;
        margin-top: 40px;
        background-color: $text-link;
        border-radius: 4px;
        outline: none;
        color: $white;
        font-family: "AvenirDemi";
        font-size: 14px;
        line-height: 16px;
      }
    }

    .button__actual:hover {
      background-color: $hover;
    }
  }
}
