@import "./breakpoints";
@import "./colors";
@import "./fonts";
@import "./flex-mixins";

.product {
  margin-left: 1rem;
  margin-right: 1rem;

  &__head {
    height: 7rem;
    &-title {
      display: flex;
      align-self: center;
      margin: 16px 0;

      .product__head-arrow {
        margin-right: 1.5rem;
        height: 24px;
      }
      .product__head-text {
        font-family: "AvenirBold";
        font-size: 24px;
        line-height: 32px;
      }
    }
    .product__status {
      width: 88px;
      height: 24px;
      border-radius: 4px;
      font-family: "AvenirDemi";
      color: $white;
      font-size: 12px;
      line-height: 14px;
      background-color: yellowgreen;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // end of product header

  // product details
  .details {
    display: flex;
    flex-direction: column;

    &__description {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 13px;

      &-label {
        font-family: "AvenirDemi";
        color: $text-label;
        margin-bottom: 16px;
        font-size: 12px;
      line-height: 13px;
      }
      &-words {
        font-family: "AvenirThin";
        color: $black;
        font-size: 13px;
        line-height: 16px;
      }
    }

    // product info except description
    .info {
      display: flex;
      flex-direction: column;
      margin-top: 32px;

      &__one {
        &-sub {
            font-size: 12px;
            line-height: 13px;
          &-title {
            color: $text-label;
            font-family: "AvenirDemi";
            margin-bottom: 16px;
          }
          &-text {
            font-family: "AvenirThin";
            color: $black;
            margin-bottom: 24px;
          }
        }
      }
      // end of info__one sub container
      &__two {
        &-sub {
            font-size: 12px;
            line-height: 13px;

          &-title {
            color: $text-label;
            font-family: "AvenirDemi";
            margin-bottom: 16px;

          }
          &-text {
            font-family: "AvenirThin";
            color: $black;
            margin-bottom: 24px;
          }
        }
      }
      // end of info__two sub container

      &__three {
        &-sub {
            font-size: 12px;
            line-height: 13px;

          &-title {
            color: $text-label;
            font-family: "AvenirDemi";
            margin-bottom: 16px;
          }
          &-text {
            font-family: "AvenirThin";
            color: $black;
            margin-bottom: 24px;
          }
        }
      }
      // end of info__three sub container
    }
  }
  .product__btn {
      width: 288px;
      height: 48px;
      background-color: $text-link;
      border-radius: 4px;
      outline: none;
      color: $white;
      font-family: "AvenirRegular";
      font-size: 14px;
      line-height: 16px;
  }
  .product__btn:hover {
      background-color: $hover;
  }
}
