.warehouses {
  &__header-text {
    padding: 32px 0px 16px 0px;
  }
}
.main__warehouses {
  padding: 0px 16px;
}
.warehouses__columns {
  display: none;
  visibility: hidden;
}
.warehouse {
  //make the whole thing, including the arrow not wrap
  @include flex-row-nowrap;
  @include mobile-paragraph;

  //wrap all the items/rows in the warehouse main body
  &__body {
    @include flex-row-wrap;
    width: 100vw;
    padding-bottom: 24px;
    border-bottom: 2px solid $text-border;
  }
  &__title {
    @include mobile-subheader;
    font-size: 1rem;
    padding-bottom: 5px;
    &--block {
      width: 80vw;
      padding-bottom: 24px;
    }
  }
  &__phone {
    padding-bottom: 5px;
  }
  &__contact {
    padding-bottom: 5px;
    &--block {
      width: 70%;
      padding-bottom: 24px;
    }
    &-title {
      font-style: italic;
    }
    &-information {
      &--block {
        padding-bottom: 24px;
        width: 70%;
      }
    }
  }
  &__categories {
    &--block {
      width: 100%;
    }
  }
  &__arrow {
    &--block {
      width: 10vw;
    }
  }
}

@include medium {
  .warehouses {
    &__upper--input {
      padding-bottom: 0px;
    }
    &__header {
      @include flex-row-nowrap;
      justify-content: space-between;
      padding: 48px 0px;
      & > .inventory__upper--input {
        margin-bottom: 0px;
        align-self: flex-end;
      }
      &-text {
        padding: 0px;
      }
    }
  }
  .main__warehouses {
    padding: 0px 24px;
  }
  .warehouse {
    &__title {
      &--block {
        width: 90vw;
      }
    }
    &__contact {
      &--block {
        width: 33%;
      }
      &-information {
        &--block {
          width: 33%;
        }
      }
    }
    &__categories {
      &--block {
        width: 33%;
      }
    }
  }
}

@include huge {
  .warehouses {
    padding: 0px 180px;
    &__header {
      padding: 0px 180px;
      &-text {
        padding: 48px 0px;
      }
      & > .inventory__upper--input {
        margin-top: 40px;
        align-self: flex-start;
      }
    }

    &__columns {
      @include desk-tablet-header;
      color: $text-label;
      font-weight: bold;
      visibility: visible;
      display: inherit;
      & > .warehouse > .warehouse__body {
        border: none;
      }
    }
  }
  .warehouse {
    &__body {
      @include flex-row-nowrap;
      padding-bottom: 0px;
    }
    &__title {
      &--block {
        order: 1;
        width: 20vw;
      }
    }
    &__contact {
      &--block {
        order: 2;
      }
      &-information {
        &--block {
          order: 3;
        }
      }
    }
    &__categories {
      &--block {
        order: 4;
      }
    }
    &__arrow {
      order: 5;
    }
  }
}
