.warehouses {
  @include flex-row-wrap;
  &__header-text {
    padding-bottom: 16px;
  }
  &__header-text {
    @include mobile-header;
  }
}
// hide the column names on every platform except desktop
.warehouse__header-container {
  display: none;
}
//warehouse container
.main__warehouses {
  padding: 32px 24px 32px 24px;
}
.warehouse {
  @include flex-row-nowrap;
  box-sizing: border-box;
  padding: 24px 0px;
  border-bottom: 2px solid $text-border;
  max-width: 100%;

  //gets the second warehouse and removes the padding to match the mockup
  &:nth-child(2) {
    padding-top: 0px;
  }

  &__left {
    width: 80vw;
  }
  &__right {
    width: 20vw;
  }
  &__arrow {
    padding: 24px 0px 0px 0px;
  }
  &__block {
    @include flex-row-wrap;
    padding: 24px 0px 0px 0px;
  }
  &__field {
    @include flex-row-nowrap;
    width: 100vw;
  }
  &__title {
    @include mobile-subheader;
    font-size: 1rem;
    padding-bottom: 5px;
  }
  &__first {
    padding: 8px 0px 0px 0px;
  }
  &__contact-title {
    font-style: italic;
  }
}

@include medium {
  .warehouses {
    width: 100vw;
    padding: 0px 24px 0px 24px;
    &__header {
      @include flex-row-nowrap;
      justify-content: space-between;
    }
  }
  .warehouse {
    width: 100vw;
    &__left {
      justify-content: space-between;
      width: 90vw;
    }

    &__right {
      @include flex-column-nowrap;
      // flex-direction: flex-start;
      align-self: flex-start;
      width: 5vw;
    }
    &__field {
      max-width: 200px;
    }
    &__first {
      &-row {
        @include flex-row-nowrap;
        width: 100%;
      }
      &-row > .warehouse__first > .warehouse__title {
        width: 100vw;
      }
    }

    &__second {
      &-row {
        @include flex-row-nowrap;
        width: 100%;
      }
    }
    &__field {
      width: auto;
    }
    &__address {
      @include flex-row-nowrap;
      width: 100%;
    }
  }
}
@include huge {
  .warehouse__header-container {
    display: flex;
  }
  .warehouse {
    @include flex-row-nowrap;
    justify-content: space-between;
    //header columns
    &__column-name {
      @include mobile-labels;
      color: $text-label;
      width: 100%;
    }
    //manage left side and right side
    &__left {
      @include flex-row-nowrap;
      justify-content: space-between;
      width: 80vw;
      &-header {
        @include flex-row-nowrap;
        justify-content: space-between;
        width: 80vw;
      }
    }
    &__field {
      width: 100%;
    }
    // &__block
    @include flex-row-nowrap;
    &__first {
      &-row {
        justify-content: space-between;
        @include flex-row-wrap;
        width: auto;
      }
    }
    &__second {
      @include flex-row-wrap;
      &-row {
        justify-content: space-between;
        @include flex-row-wrap;
      }
    }
    &__header-container {
      padding-bottom: 32px;
    }
  }
}
