/* media query for tablet */
/* media query for high px density desktop */
@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/font/AvenirNextLTProRegular.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/font/AvenirNextLTProBold.otf");
}

@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/font/AvenirNextLTProDemi.otf");
}

@font-face {
  font-family: "AvenirThin";
  src: url("../assets/font/AvenirNextLTProThin.otf");
}

.inventory {
  margin: 32px 16px 20px;
}

.inventory__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  margin-bottom: 16px;
}

.inventory__upper {
  position: relative;
  margin-bottom: 32px;
}

.inventory__upper--input {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 70vw;
  height: 48px;
}

.inventory__upper--input:placeholder-shown {
  padding-left: 35px;
  font-family: AvenirRegular;
}

.inventory__upper--input:hover {
  border: 1px solid #002f5f;
}

.inventory__upper--search-icon {
  position: absolute;
  left: 10px;
  top: 15px;
}

.inventory__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 2px solid #e1e1e1;
}

.inventory__content--titles {
  display: none;
}

.inventory__content--data .title {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  color: #afafaf;
}

.inventory__content--data .product-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-top: 16px;
}

.inventory__content--data .text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
  margin: 16px 0 24px;
}

.inventory__content--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inventory__content--icon .fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #004892;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.inventory__content--icon .fixed__add-icon {
  width: 20px;
}

.warehouses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.warehouses__header-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
}

.main__warehouses {
  padding: 32px 24px 0px 24px;
}

.warehouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 2px grey solid;
  padding: 24px 0px;
}

.warehouse__left {
  width: 80vw;
}

.warehouse__right {
  width: 20vw;
}

.warehouse__arrow {
  padding: 24px 0px 0px 0px;
}

.warehouse__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 24px 0px 0px 0px;
}

.warehouse__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100vw;
}

.warehouse__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  font-size: 1rem;
  padding-bottom: 5px;
}

.warehouse__first {
  padding: 8px 0px 0px 0px;
}

.warehouse__contact-title {
  font-style: italic;
}

@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/font/AvenirNextLTProRegular.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/font/AvenirNextLTProBold.otf");
}

@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/font/AvenirNextLTProDemi.otf");
}

@font-face {
  font-family: "AvenirThin";
  src: url("../assets/font/AvenirNextLTProThin.otf");
}

/* media query for tablet */
/* media query for high px density desktop */
.header {
  width: 100vw;
  height: 80px;
  background-color: #323232;
  margin-bottom: 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
}

.header__anchor {
  margin-top: .5rem;
}

.header__logo {
  margin: 10px auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 45px;
  margin-top: 3px;
}

.navigation__options {
  width: 80%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afafaf;
  padding-top: 1rem;
  border-bottom: 5px #fff;
}

.navigation__options a, .navigation__options-text {
  font-family: avenir-next-demi;
  margin-top: 0;
  font-size: .8125rem;
  line-height: 1.125rem;
  text-decoration: none;
  color: #afafaf;
}

.navigation__options:hover {
  color: #fff;
  border-bottom: 5px #fff solid;
}

/*tablet breakpoint*/
@media only screen and (min-width: 768px) {
  .header {
    width: 100%;
    height: 80px;
    background-color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    display: flex;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
    height: 50px;
    padding-bottom: 15px;
  }
  .header__anchor {
    padding-bottom: 15px;
  }
  .header__logo {
    width: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
  .navigation__options {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #afafaf;
    border-bottom: 5px #fff;
    padding-top: 2.3rem;
  }
  .navigation__options:hover {
    color: #fff;
    border-bottom: 5px #fff solid;
    margin-bottom: 0px;
  }
  .navigation__options__options-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    line-height: 32px;
    font-family: avenir-next-demi;
    text-decoration: none;
    color: #afafaf;
    margin-bottom: 0px;
  }
  /*desktop breakpoint*/
}

@media only screen and (min-width: 768px) and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 80px;
    background-color: #323232;
  }
  .header__header-medium {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 11.25rem;
  }
  .header__logo {
    width: 150px;
    margin-right: 3.5rem;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 0;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 350px;
    height: 100%;
    padding: 0;
  }
  __options {
    width: 20%;
    height: 100px;
    margin: 0px 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #afafaf;
    border-bottom: 5px #fff;
  }
  __options .navigation__options:hover {
    color: #fff;
    border-bottom: 5px #fff solid;
  }
  __options a, __options__options-text {
    width: 70px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenir-next-demi;
    text-decoration: none;
    color: #afafaf;
  }
}

/* media query for tablet */
/* media query for high px density desktop */
@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/font/AvenirNextLTProRegular.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/font/AvenirNextLTProBold.otf");
}

@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/font/AvenirNextLTProDemi.otf");
}

@font-face {
  font-family: "AvenirThin";
  src: url("../assets/font/AvenirNextLTProThin.otf");
}

.product {
  margin-left: 1rem;
  margin-right: 1rem;
}

.product__head {
  height: 7rem;
}

.product__head-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 16px 0;
}

.product__head-title .product__head-arrow {
  margin-right: 1.5rem;
  height: 24px;
}

.product__head-title .product__head-text {
  font-family: "AvenirBold";
  font-size: 24px;
  line-height: 32px;
}

.product__head .product__status {
  width: 88px;
  height: 24px;
  border-radius: 4px;
  font-family: "AvenirDemi";
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  background-color: yellowgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product .details__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 13px;
}

.product .details__description-label {
  font-family: "AvenirDemi";
  color: #afafaf;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 13px;
}

.product .details__description-words {
  font-family: "AvenirThin";
  color: #000;
  font-size: 13px;
  line-height: 16px;
}

.product .details .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
}

.product .details .info__one-sub {
  font-size: 12px;
  line-height: 13px;
}

.product .details .info__one-sub-title {
  color: #afafaf;
  font-family: "AvenirDemi";
  margin-bottom: 16px;
}

.product .details .info__one-sub-text {
  font-family: "AvenirThin";
  color: #000;
  margin-bottom: 24px;
}

.product .details .info__two-sub {
  font-size: 12px;
  line-height: 13px;
}

.product .details .info__two-sub-title {
  color: #afafaf;
  font-family: "AvenirDemi";
  margin-bottom: 16px;
}

.product .details .info__two-sub-text {
  font-family: "AvenirThin";
  color: #000;
  margin-bottom: 24px;
}

.product .details .info__three-sub {
  font-size: 12px;
  line-height: 13px;
}

.product .details .info__three-sub-title {
  color: #afafaf;
  font-family: "AvenirDemi";
  margin-bottom: 16px;
}

.product .details .info__three-sub-text {
  font-family: "AvenirThin";
  color: #000;
  margin-bottom: 24px;
}

.product .product__btn {
  width: 288px;
  height: 48px;
  background-color: #004892;
  border-radius: 4px;
  outline: none;
  color: #fff;
  font-family: "AvenirRegular";
  font-size: 14px;
  line-height: 16px;
}

.product .product__btn:hover {
  background-color: #002f5f;
}

@media only screen and (min-width: 768px) {
  .product {
    margin-left: 24px;
    margin-right: 24px;
  }
  .product__head {
    width: 720px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .product__head-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .product__head-title .product__head-arrow {
    margin-right: 1.5rem;
    width: 16px;
    height: 24px;
  }
  .product__head-title .product__head-text {
    font-family: "AvenirBold";
    font-size: 24px;
    line-height: 32px;
  }
  .product__head .product__status {
    width: 88px;
    height: 24px;
    margin-left: 24px;
    border-radius: 4px;
    font-family: "AvenirDemi";
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    background-color: yellowgreen;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  .product .details__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    line-height: 16px;
  }
  .product .details__description-label {
    font-family: "AvenirRegular";
    color: #afafaf;
    margin-bottom: 16px;
    margin-top: 40px;
    font-size: 12px;
    line-height: 13px;
    font-weight: bold;
  }
  .product .details__description-words {
    width: 570px;
    font-family: "AvenirThin";
    color: #000;
    font-size: 13px;
    line-height: 16px;
  }
  .product .details .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 32px;
  }
  .product .details .info__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product .details .info__one-sub {
    width: 100%;
    font-size: 12px;
    line-height: 13px;
  }
  .product .details .info__one-sub-title {
    color: #afafaf;
    font-family: "AvenirRegular";
    margin-bottom: 16px;
  }
  .product .details .info__one-sub-text {
    font-family: "AvenirThin";
    color: #000;
    margin-bottom: 24px;
  }
  .product .details .info__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product .details .info__two-sub {
    width: 100%;
    font-size: 12px;
    line-height: 13px;
  }
  .product .details .info__two-sub-title {
    color: #afafaf;
    font-family: "AvenirRegular";
    margin-bottom: 16px;
  }
  .product .details .info__two-sub-text {
    font-family: "AvenirThin";
    color: #000;
    margin-bottom: 24px;
  }
  .product .details .info__three-sub {
    font-size: 12px;
    line-height: 13px;
  }
  .product .details .info__three-sub-title {
    color: #afafaf;
    font-family: "AvenirRegular";
    margin-bottom: 16px;
  }
  .product .details .info__three-sub-text {
    font-family: "AvenirThin";
    color: #000;
    margin-bottom: 48px;
  }
  .product .product__btn {
    width: 160px;
    height: 48px;
    margin-top: 40px;
    background-color: #004892;
    border-radius: 4px;
    outline: none;
    color: #fff;
    font-family: "AvenirRegular";
    font-size: 14px;
    line-height: 16px;
  }
  .product .product__btn:hover {
    background-color: #002f5f;
  }
}

@media only screen and (min-width: 1440px) {
  .product {
    margin-left: 180px;
    margin-right: 180px;
  }
  .product__head {
    width: 720px;
    height: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .product__head-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 16px 0;
  }
  .product__head-title .product__head-arrow {
    margin-right: 24px;
    height: 24px;
  }
  .product__head-title .product__head-text {
    font-family: "AvenirBold";
    font-size: 24px;
    line-height: 32px;
  }
  .product__head .product__status {
    width: 88px;
    height: 24px;
    margin-left: 24px;
    border-radius: 4px;
    font-family: "AvenirDemi";
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    background-color: yellowgreen;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  .product .details__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    width: 600px;
  }
  .product .details__description-label {
    width: 100%;
    font-family: "AvenirRegular";
    color: #afafaf;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 13px;
    font-weight: bold;
  }
  .product .details__description-words {
    width: 470px;
    font-family: "AvenirThin";
    color: #000;
    font-size: 13px;
    line-height: 16px;
  }
  .product .details .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    width: 600px;
  }
  .product .details .info__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product .details .info__one-sub {
    width: 100%;
    font-size: 12px;
    line-height: 13px;
  }
  .product .details .info__one-sub-title {
    color: #afafaf;
    font-family: "AvenirRegular";
    margin-bottom: 16px;
  }
  .product .details .info__one-sub-text {
    font-family: "AvenirThin";
    color: #000;
    margin-bottom: 24px;
  }
  .product .details .info__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product .details .info__two-sub {
    width: 100%;
    font-size: 12px;
    line-height: 13px;
  }
  .product .details .info__two-sub-title {
    color: #afafaf;
    font-family: "AvenirRegular";
    margin-bottom: 16px;
  }
  .product .details .info__two-sub-text {
    font-family: "AvenirThin";
    color: #000;
    margin-bottom: 24px;
  }
  .product .details .info__three {
    width: 100%;
  }
  .product .details .info__three-sub {
    font-size: 12px;
    line-height: 13px;
  }
  .product .details .info__three-sub-title {
    color: #afafaf;
    font-family: "AvenirRegular";
    margin-bottom: 16px;
  }
  .product .details .info__three-sub-text {
    font-family: "AvenirThin";
    color: #000;
    margin-bottom: 48px;
  }
  .product .product__btn {
    width: 160px;
    height: 48px;
    margin-top: 40px;
    background-color: #004892;
    border-radius: 4px;
    outline: none;
    color: #fff;
    font-family: "AvenirRegular";
    font-size: 14px;
    line-height: 16px;
  }
  .product .product__btn:hover {
    background-color: #002f5f;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */