@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/flex-mixins";
@import "./partials/colors";
@import "./partials/inventory";
@import "./partials/warehouses";
@import "./partials/header";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
